<!-- prettier-ignore -->
{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div class="auth">
    <title>Change password</title>

    <h1>{% trans "Change Password" %}</h1>

    <form
        method="POST"
        action="{% url 'account_change_password' %}"
        class="form password_change"
    >
        {% csrf_token %}
        <table>
            {% include 'form_snippet.html' %}
            <tr>
                <td>
                    <hr />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="action">
                        {% trans "Change Password" %}
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
