<!-- prettier-ignore -->
{% extends "account/base.html" %} 
{% load i18n %} 
{% block head_title %}
{% trans "Signup" %}
{% endblock %} 
{% block content %}

<div class="auth">
    <title>Sign up</title>
    <h1>{% trans "Sign Up" %}</h1>

    <p>
        {% blocktrans %}Already have an account? Then please
        <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <form
        class="form signup"
        id="signup_form"
        method="post"
        action="{% url 'account_signup' %}"
    >
        <!-- prettier-ignore -->
        {% csrf_token %}
        <table>
            {% include 'form_snippet.html' %} {% if redirect_field_value %}
            <tr>
                <td>
                    <input
                        type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}"
                    />
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <hr />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
