* {
  box-sizing: border-box;
  transition: all 0.25s ease;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.otf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(60, 60, 60);
  margin-bottom: 5px;
  font-family: Montserrat;
}

button {
  cursor: pointer;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Cantarell, "Open Sans", "Helvetica Neue", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

body > div > main#content {
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
}

nav {
  background-color: rgb(4, 98, 160);
  height: 50px;
  padding: 12px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a.home-link img {
  height: 100%;
  margin-right: 8px;
}

nav a.home-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

nav .nav-links a {
  font-weight: normal;
  font-size: smaller;
}

nav a,
footer a {
  text-decoration: none;
  font-weight: bold;
}

nav a,
footer a {
  color: white;
}

nav,
footer {
  color: white;
}

nav form {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav form > * {
  height: 100%;
  margin-left: 8px;
}

form a {
  font-weight: normal;
  font-size: smaller;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav input {
  border: none;
  padding: 5px;
}

nav form button {
  border: 1px white solid;
  background: transparent;
  color: white;
  font-weight: bold;
}

footer {
  background-color: rgb(20, 43, 58);
  text-align: center;
  padding: 20px;
}

footer .subordinate {
  opacity: 0.5;
  font-size: 0.9em;
}

.url-card {
  text-align: center;
  border: 2px grey solid;
  padding: 15px;
  margin: 15px;
  cursor: pointer;
}

a {
  color: rgb(0, 119, 255);
  text-decoration: none;
}

.card-link {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

hr {
  border-color: white;
}

.cards-container {
  display: grid;
  --columns: 1;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.nothing-to-show {
  color: grey;
  font-weight: bold;
}

.edit-flower-form {
  margin: auto;
  width: fit-content;
  min-width: 80%;
}

.edit-flower-form h2 {
  text-align: center;
  margin: 5px 0 15px 0;
}

.edit-flower-form table {
  width: 100%;
}

.edit-flower-form td > * {
  width: 100%;
}

.edit-flower-form td .form-control {
  padding: 5px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px rgb(175, 175, 175) solid;
  margin: 5px 0;
}

.edit-flower-form td ul.errorlist {
  margin: 0;
  padding: 0;
}

.edit-flower-form td ul.errorlist li {
  text-align: center;
  color: rgb(155, 0, 0);
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  background-color: rgb(255, 173, 173);
  box-shadow: 0 0 5px 5px rgb(255, 173, 173);
  width: calc(100% - 13px);
}

.edit-flower-form td ul.errorlist li::marker {
  color: transparent;
}

.edit-flower-form button[type="submit"] {
  padding: 10px 150px;
  font-size: 1em;
  background-color: rgb(0, 119, 216);
  color: white;
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  .cards-container {
    --columns: 2;
  }
}

@media screen and (min-width: 1200px) {
  .cards-container {
    --columns: 3;
  }
}

@media screen and (min-width: 1700px) {
  .cards-container {
    --columns: 4;
  }
  body > div > main#content {
    max-width: 1300px;
  }
}

@media screen and (min-width: 2200px) {
  .cards-container {
    --columns: 5;
  }
  body > div > main#content {
    max-width: 1600px;
  }
}

@media screen and (min-width: 2700px) {
  .cards-container {
    --columns: 6;
  }
  body > div > main#content {
    max-width: 2200px;
  }
}
