h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(60, 60, 60);
  margin-bottom: 5px;
  font-family: Montserrat;
}

body {
  font-family: "Open Sans";
  font-size: 20px;
}

.url-card {
  text-align: center;
  border: 2px grey solid;
  padding: 15px;
  margin: 15px;
  cursor: pointer;
}

a {
  color: rgb(0, 119, 255);
  text-decoration: none;
}

.card-link {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

hr {
  border-color: white;
}
