<!-- prettier-ignore -->
{% extends 'base/base.html' %} 
{% load static %}

{% block head_title %} 
    {{ page_title }} 
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>
        {{ flower.title }} {% if perms.myapp.change_flower %}
        <a href="{% url 'edit' pk=flower.pk %}">
            <img
                src="{% static 'base/images/edit.svg' %}"
                alt=""
                height="30px"
            />
        </a>
        {% endif %}
    </h1>
    <p>
        <a href="{{ flower.image.url }}">
            <img
                src="{{ flower.image.url }}"
                alt="Image of {{ flower.title }}"
                style="max-height: 400px; max-width: 100%"
            />
        </a>
    </p>
    <div class="flowerDescription">{{ flower.description }}</div>
</div>

<hr />

All flowers in the <strong>{{ flower.category }}</strong> category:
<br />
{% for c_flower in flower.category.flower_set.all %}
<a href="{% url 'detail' c_flower.slug %}">{{ c_flower }}</a>
<br />
{% endfor %}
<hr />
Tags: {% for tag in flower.tags.all %}
<a href="{% url 'tags' tag.slug %}">{{ tag }}</a>, {% endfor %} {% endblock %}
