{% extends 'base/base.html' %} {% block content %}

<title>{{ page_title }}</title>

<div class="jumbotron">
  <h1>{{ flower.title }}</h1>
  <div class="flowerDescription">{{ flower.description }}</div>
</div>

<hr />

All flowers in the <strong>{{ flower.category }}</strong> category:
<br />
{% for c_flower in flower.category.flower_set.all %}
<a href="{% url 'detail' c_flower.slug %}">{{ c_flower }}</a>
<br />
{% endfor %}
<hr />
Tags: {% for tag in flower.tags.all %}
<a href="{% url 'tags' tag.slug %}">{{ tag }}</a>, {% endfor %} {% endblock %}
