{% extends 'base/base.html' %} {% block content %} {% load static %}

<title>{{ page_title }}</title>

<div class="jumbotron">
    <h1>
        {{ flower.title }} {% if perms.myapp.change_flower %}
        <a href="{% url 'edit' pk=flower.pk %}">
            <img
                src="{% static 'base/images/edit.svg' %}"
                alt=""
                height="30px"
            />
        </a>
        {% endif %}
    </h1>
    <div class="flowerDescription">{{ flower.description }}</div>
</div>

<hr />

All flowers in the <strong>{{ flower.category }}</strong> category:
<br />
{% for c_flower in flower.category.flower_set.all %}
<a href="{% url 'detail' c_flower.slug %}">{{ c_flower }}</a>
<br />
{% endfor %}
<hr />
Tags: {% for tag in flower.tags.all %}
<a href="{% url 'tags' tag.slug %}">{{ tag }}</a>, {% endfor %} {% endblock %}
