<!-- prettier-ignore -->
{% extends 'base/base.html' %} 
{% block content %}

<title>{{ page_title }}</title>

<h2>{{ page_title }}</h2>

{% if flower_count == 0 %}
<p class="nothing-to-show">Nothing to show</p>
{% endif %}

<div class="cards-container">
    {% for flower in flowers %}
    <div class="url-card">
        <a class="card-img-link" href="{% url 'detail' flower.slug %}">
            <div
                class="card-img"
                style="background-image: url({{ flower.image_thumbnail.url }});"
            ></div>
        </a>
        <div class="card-text-container">
            <h4 class="card-title">{{ flower.title }}</h4>
            <p class="card-text">
                {{ flower.description | truncatechars:100 }}
            </p>
            {% if perms.myapp.change_flower %}
            <a href="{% url 'edit' pk=flower.pk %}" class="card-link">Edit</a>
            {% endif %} {% if perms.myapp.delete_flower %}
            <a href="{% url 'delete' pk=flower.pk %}" class="card-link"
                >Delete</a
            >
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
